fastapi          
pip              
pytesseract      
python-multipart 
setuptools       
torchvision      
transformers     
uvicorn
dotenv
sqlalchemy          
Pillow
psycopg2-binary
python-multipart
